@font-face {
  font-family: "Cash Money";
  src: url("../fonts/CashCurrency.ttf") format("truetype"); }
@font-face {
  font-family: "Iron Price";
  src: url("../fonts/Iron&Brine.ttf") format("truetype"); }
@font-face {
  font-family: "Prestige";
  src: url("/static/fonts/PrestigeEliteStd-Bd.otf") format("truetype"); }

body {
  font-family: "Iron Price";
  text-align: center;
}

.click-box {
  padding-top: 120px;
  margin: auto;
  width: 300px;
}

.click-box h1 {
  color: #efa6e8;
}

.click-box:hover h1 {
  color: #a0699b;
}

.click-box:active h1 {
  color: #d6c7d4;
}