@font-face {
  font-family: "Cash Money";
  src: url("../fonts/CashCurrency.ttf") format("truetype"); }
@font-face {
  font-family: "Iron Price";
  src: url("../fonts/Iron&Brine.ttf") format("truetype"); }
@font-face {
  font-family: "Prestige";
  src: url("/static/fonts/PrestigeEliteStd-Bd.otf") format("truetype"); }

html {
  color: #026e8d;
}
a {
  color: #338aa3;
}

.kermp {
  font-family: "Cash Money";
  color: #026e8d;
  font-size: 10vw;
  padding-top: 24vh;
  text-align: center;
}

.shifty {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.28, 0.83, 0.67, 1);
  transition: transform 0.3s cubic-bezier(0.28, 0.83, 0.67, 1);
  will-change: transform;
  height: 100vh;
}

.under-rug-shown .kermptainer {
  transform: translateY(-120px);
}

.under-rug-shown .rug-link {
  transform: translateY(-120px);
}

.rug-link {
    font-size: 1em;
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 20px;
}

.under-rug {
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.22);
  background: #469cb5;
  visibility: hidden;
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 120px;
  width: 100%;
  text-align: center;
}

.under-rug-link {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .4rem;
}

.under-rug span {
    box-sizing: border-box;
    float: left;
    width: 16.66667%;
    padding: 15px;
    padding-top: 50px;
    text-align: center;
    list-style: none;
}

.under-rug-shown {
  visibility: visible;
  transition: visibility 0s;
}

.under-rug a {
  color: white;
}