#footer {
  text-align: right;
  padding-right: 20px;
  position: relative;
  margin-top: 20px; }

@font-face {
  font-family: "Cash Money";
  src: url("../fonts/CashCurrency.ttf") format("truetype"); }
@font-face {
  font-family: "Iron Price";
  src: url("../fonts/Iron&Brine.ttf") format("truetype"); }
@font-face {
  font-family: "Prestige";
  src: url("../fonts/PrestigeEliteStd-Bd.otf") format("truetype"); }
.content.splash .kerpany-logo img {
  margin-left: -341px;
  padding-left: 50%;
  height: 208px; }
.content.splash .kermp-logo {
  text-align: center;
  font-size: 100px;
  font-family: "Cash Money";
  color: #026e8d;
  line-height: 100px;
  margin-top: 36px; }
.content.splash .kermp-logo-presents {
  text-align: center;
  font-size: 50px;
  font-family: "Iron Price";
  color: #026e8d;
  line-height: 50px;
  margin-top: -10px; }
.content.splash .adventure-txt {
  line-height: 52px;
  text-align: center;
  font-size: 45px;
  font-family: "Prestige";
  padding-right: 79.125px; }
.content.splash .alien-boy {
  height: 440px; }
.content.splash .center-row {
  text-align: center; }
.content.splash .alien-adventures-txt {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center; }
.content.splash .alien-adventures-txt img {
  width: 300px; }
.content.splash .center-row.row.mc {
  margin-left: -200px;
  padding-left: 50%; }
.content.splash .mc {
  padding-right: 79.125px; }
  .content.splash .mc #mc_embed_signup_scroll {
    text-align: center; }
  .content.splash .mc #mc_embed_signup .mc-field-group input {
    border-radius: 4px; }
  .content.splash .mc #mc_embed_signup div.mce_inline_error {
    background-color: #E54646;
    border-radius: 4px; }
  .content.splash .mc #mc_embed_signup input.mce_inline_error {
    border-color: #E54646; }
    .content.splash .mc #mc_embed_signup input.mce_inline_error:focus {
      outline-color: #f9cbcb; }
.content.splash .btn-image {
  background-repeat: no-repeat;
  background-position: left top;
  width: 186px;
  height: 53px;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  color: transparent; }
.content.splash #btn-add {
  background-image: url("../img/alien-boy-add.png"); }
.content.splash #btn-login {
  background-image: url("../img/login.png"); }
.content.splash .secret-login {
  position: absolute;
  top: 20px;
  right: 62px; }
  .content.splash .secret-login .star-outer {
    position: absolute;
    left: 0px;
    color: #f5b715;
    z-index: 1;
    font-size: 32px; }
  .content.splash .secret-login .star-inner {
    position: absolute;
    font-size: 32px;
    color: #ffeb1e; }
.content.splash .secret-login:hover {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: star-wiggle 2s; }
.content.splash .real-fo:nth-child(2n+1) {
  background-color: #e7e7e7; }
.content.splash .real-fo {
  padding: 40px 0 40px; }
.content.splash .chev-hook {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px; }
.content.splash .chev-white {
  color: #fff; }
.content.splash .chev-circle {
  color: #026D8C; }
  .content.splash .chev-circle:hover {
    color: #A5D3E0; }

.content.pamps {
  text-align: center;
  background: #323744; }
  .content.pamps .dialog {
    display: none;
    width: 385px;
    height: 60%;
    position: absolute;
    top: 15%;
    left: 35%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 1em grey;
    background-color: #F5F5F5; }
  .content.pamps .dialog-content {
    position: relative;
    height: 100%;
    overflow-y: scroll; }
    .content.pamps .dialog-content .ex {
      position: absolute;
      top: 4px;
      left: 6px; }
    .content.pamps .dialog-content .talkbox {
      position: absolute;
      bottom: 0px;
      left: -1px;
      width: 387px;
      height: 32px;
      padding-left: 10px;
      padding-right: 10px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border: none;
      border-top: 1px solid #D2D2C8; }
      .content.pamps .dialog-content .talkbox:focus {
        outline: none; }
    .content.pamps .dialog-content .speech-chunk {
      position: relative;
      display: block;
      height: 60px;
      padding-top: 20px; }
      .content.pamps .dialog-content .speech-chunk .speech-bubble {
        position: absolute;
        border-image-source: url("../img/SpeechBubble.png");
        border-image-slice: 14 19 23 21 fill;
        border-width: 8px;
        left: 48px; }
      .content.pamps .dialog-content .speech-chunk .speech-bubble-rev {
        position: absolute;
        border-image-source: url("../img/SpeechBubble-rev.png");
        border-image-slice: 14 19 23 21 fill;
        border-width: 8px;
        right: 48px; }
      .content.pamps .dialog-content .speech-chunk .spriticon-left {
        background-image: url("../img/oracle.png");
        display: block;
        position: absolute;
        left: 20px;
        width: 28px;
        height: 48px; }
      .content.pamps .dialog-content .speech-chunk .spriticon-right {
        background-image: url("../img/oracle.png");
        display: block;
        position: absolute;
        width: 28px;
        height: 48px;
        right: 20px; }

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #323744;
  border: solid 12px #323744;
  color: #eee; }
  .footer ul {
    list-style: none; }
    .footer ul li {
      display: inline-block; }
  .footer .dashy-info {
    width: 33%;
    display: inline-block; }
  .footer .dashy-input {
    width: 33%;
    text-align: center;
    display: inline-block; }
    .footer .dashy-input input {
      width: 400px;
      text-align: left;
      color: #222; }
  .footer .dashy-settings {
    width: 33%;
    display: inline-block;
    text-align: right;
    padding-right: 40px; }

.content.money .page-heading {
  text-align: center; }
.content.money .page-subtitle {
  font-size: 16px; }
.content.money .donation-goals {
  width: 100%; }
.content.money .example-image {
  height: 200px; }
.content.money .goal-box {
  text-align: center;
  padding-top: 40px; }
.content.money .goal-left {
  position: absolute;
  left: 0px;
  font-size: 24px;
  padding-top: 88px; }
.content.money .goal-right {
  position: absolute;
  right: 0px;
  font-size: 24px;
  padding-top: 88px; }
.content.money .shape {
  width: 201px;
  height: 194px;
  position: absolute;
  right: 25px;
  top: -46px; }
.content.money .star {
  /*background-image: url('../img/star-empty.png');
  &.full {
    background-image: url('../img/star-full.png');
  }*/
  position: absolute;
  top: -58px;
  right: -75px;
  height: 120px; }
.content.money .progress {
  position: relative;
  overflow: visible;
  margin-left: -50px; }
.content.money .progress-bar {
  background-color: #DB5D83;
  border-color: #a92c52; }

/*# sourceMappingURL=pamplev1.css.map */
